__pycache__/
*.py[cod]
data/yolo_dataset/
data/yolo_dataset_v2/
data/validation_output/
runs/
*.pt
*.pth
*.log
.DS_Store
data/yolo_dataset_v3/
data/yolo_dataset_v4/
data/yolo_dataset_v5/
data/yolo_dataset_v6/
data/yolo_dataset_v7/
venv/
